/* место для вашего кода */

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 92px auto;
  border: 0;
  width: 1340px;
  height: 109px;
  align-items: center;
  background-color: #fff;
}

.header__menu {
  list-style: circle;

  width: 500px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;

  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  box-sizing: border-box;
  width: 148px;
  height: 105px;
}

.header__address {
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  align-content: end;
  flex-wrap: wrap;
}

/* COVER */

.cover {
  box-sizing: border-box;
  width: 1440px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: 100%;
}

.overlay {
  display: flex;
  flex-grow: 1;
  position: absolute;
  width: inherit;
  height: inherit;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding-top: 165px;
}

.aligned-text {
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  width: 1340px;
  height: 115px;
  color: #fff;

  margin-left: 50px;

  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text_center {
  display: flex;
  width: 1280px;
  height: 100px;
  justify-content: center;
  margin-left: 50px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.aligned-text_right {
  display: flex;
  justify-content: right;
  width: 1340px;
  height: 100px;
  box-sizing: border-box;
  margin-left: 50px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  text-transform: uppercase;
  letter-spacing: 30px;
  box-sizing: border-box;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}
.no-letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 78px;
  justify-content: flex-end;
  align-items: center;
  padding-top: 135px;
  padding-right: 50px;
}

.cover__description-text {
  word-spacing: 10px;

  box-sizing: border-box;
  width: 633px;
  height: 28px;
  color: #fff;

  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
}

.bet-button {
  box-sizing: border-box;
  width: 257px;
  height: 52px;
  flex-shrink: 0;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: none;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/* LOTS */

.lots {
  display: flex;
  width: 1340px;
  min-height: 579px;
  flex-direction: column;
  margin: 180px auto 181px;
}

.lots__heading {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  align-self: baseline;
}

.card {
  margin-top: 27px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  width: 430px;
  min-height: 450px;
}

.card_type_film {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  background-image: url(../images/card-lot-01.jpg);
  background-size: 100%;
}
.card_type_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  background-image: url(../images/card-lot-02.jpg);
  background-size: 100%;
}

.card_type_picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../images/card-lot-03.jpg);
  background-size: 100%;
}

.card__title {
  box-sizing: border-box;
  position: relative;
  width: 350px;
  min-height: 52px;
  word-wrap: wrap;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-transform: uppercase;
}

.card__text {
  display: flex;
  position: relative;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 350px;
  min-height: 96px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__card-list-item {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ABOUT */

.about {
  width: 1340px;
  margin: 0 auto;
  display: grid;
  column-gap: 25px;
  grid-template-columns: 430px 1fr;
  justify-items: center;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: baseline;
  flex-wrap: wrap;
}

.about__title {
  margin-top: 0;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* FOOTER */

.footer {
  margin: 180px auto 0;
  display: grid;

  width: 1340px;
  grid-template-columns: repeat(3, auto);
}
.address {
  display: block;
  color: #000;

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  justify-self: flex-end;
}

.footer__social-list-item {
  height: inherit;
}

.footer__social-link {
  height: inherit;
}

.footer__social-icon {
  height: inherit;
}

.footer__menu-link_active {
  text-decoration: none;
}
.footer__menu {
  display: flex;
  justify-content: center;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
.footer__menu-list-item {
  align-items: center;
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
